
<div class="jumbotron">
    <h3> Planning </h3>
    Currently available
    <span class="badge alert-info">
        {{tasks.length}}
    </span></a>
    <b> tasks </b>
</div>
<div class="container">

    <div ng-repeat='task in tasks track by $index'
        class="panel panel-default shad" >
        <div class="panel-heading">

            <table> <tr>
                <td>
                    <span class="label label-info"> {{task.status}} </span>
                </td>
                <td>
                 <h4>
                    <span class="badge alert-primary"> {{$index + 1}} </span>
                    {{task.task | ucFirst}}
                 </h4>
                </td>
            </tr></table>
        </div>
        <div class="panel-body">
          {{task.description}}
          <p style="text-align: right;">
            <a href ng-click='task.active = true' ng-hide='task.active'
             >({{task.comments.length}}) conversation+</a>
            <a href ng-click='task.active = false' ng-show='task.active'>conversation-</a>
          </p>
        </div>

        <div ng-if='task.active'>
            <div ng-repeat='comment in task.comments track by $index'
                class='panel-body'
                style="text-align: right; border-top: 1px dashed black;"
                >

                <table class='table'>
                    <tr>
                        <th> {{comment.myuser}} </th>
                        <td> {{comment.time | date:'yyyy-MM-dd HH:mm:ss Z' }} </td>
                        <td> {{comment.text}} </td>
                    </tr>
                </table>
            </div>
            <div style="text-align: right; border-top: 1px dashed black;"
                class='panel-body'>
                <button class="btn btn-primary" ng-click="addComment(task.id)">
                  aggiungi
                </button>
            </div>
        </div>
    </div>

</div>
