
  <!-- the main 'ng-if' is based on CHECKBOX SWITCH -->

<!--  Not very usefull
ng-class="{highlight: item.highlight}"
 -->

    <!-- EDIT ON -->
    <div ng-if="editable.switch"
        ng-mouseover="item.highlight=true" ng-mouseout="item.highlight=false"
    >

      <div id='highlighter' class='highlight'
        >
        <span id='textmanipulate'
          editable-textarea="item.content" e-rows="3" e-cols="40" e-form="eform"
          onaftersave="action()(item.content, pos)" >
          <div id='clicable' ng-bind-html="item.content"  ng-click="eform.$show()"></div>
        </span>
      </div>

      <div id='tooltip' ng-show="item.highlight"
        class="alert alert-danger edittip" role="alert" >
        <table class="table">
          <tr> <th>Item</th> <td> <span class="badge">{{pos}}</span> </td> </tr>
          <tr> <th>Content</th> <td> <i>{{item.content}}</i>" </td> </tr>
        </table>
        <span class="label label-danger">click to edit</span>
      </div>

    </div>

    <!-- EDIT OFF -->
    <div ng-if="!editable.switch">
      <div ng-bind-html="item.content"></div>
    </div>
