
<div id="footer" ng-hide="!onOff.footer">
<div class="container">
  <div class="row">
    <div class='col-md-2 col-xs-2'></div>
    <div class='col-md-4 col-xs-4'>
      <div ng-show="edit.state==0 && init.startup">
        <!-- Button Switch for edit on/off -->
        <table>
          <tr>
          <td> <span class="label label-primary">Edit-mode</span> </td>
          <td>&nbsp;</td>
          <td> <switch ng-model="edit.switch" class="small">Edit</switch> </td>
          </tr>
        </table>
      </div>
      <div ng-show="edit.state!=0 || !init.startup">
        <p> @footer </p>
      </div>
    </div>
    <div class='col-md-4 col-xs-4'>
      <p class="muted credit">
      Working on <a href="#">New tools</a>.
      </p>
    </div>
    <div class='col-md-2 col-xs-2'></div>
  </div> <!-- row -->
</div>
</div>