<div class="col-md-4" ng-show="step > 0 && step <= max" >

 <article ng-class="{'blur': current != step}" >

  <div class="panel" ng-class="{'shad': current == step, 'panel-default': current != step}">

    <div class="panel-heading">
      <h4 ng-if='current > step'> Step precedente [{{step}}] </h4>
      <h4 ng-if='current == step'> Step {{step}} </h4>
      <h4 ng-if='current < step'> Step successivo [{{step}}] </h4>
    </div>

    <form editable-form name="myform" onaftersave="doSomethingToSave()">

    <div class="panel-body">
      <!-- editable username (text with validation) -->
      <table ng-class="{'table': current == step}">

        <!-- repeat with sort? on key 'pos' -->
        <tr ng-repeat="element in data | orderBy:'+pos' |limitTo:10">
            <th class='title'> {{element.key + ':' || 'empty'}} </th>
            <td editable-text="element.value" e-name="name"
            onaftersave="">
              {{element.value|| 'empty'}}
            </td>
        </tr>

      </table>

        <!-- based on current and the step of this directive -->
        <div class="buttons" ng-show="current == step">
          <!-- button to show form -->
          <button type="button" class="btn btn-default" ng-click="myform.$show()"
            ng-show="!myform.$visible">
            Edit
          </button>
          <!-- buttons to submit / cancel form -->
          <span ng-show="myform.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="myform.$waiting">
              Save
            </button>
            <button type="button" class="btn btn-default" ng-disabled="myform.$waiting" ng-click="myform.$cancel()">
              Cancel
            </button>
          </span>
        </div>

    </div>
    </form>

  </div>
 </article>

</div>