
<nav class="navbar-custom navbar-default navbar-fixed-top barshad">
  <div class="container-fluid">

    <div class="navbar-header">
      <h3 class="nopad headcolor">Baroque</h3>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <!-- Normal menu button -->
      <ul class="nav navbar-nav navbar-right nav-right">
        <li ng-repeat='el in menu' ng-class="{'active': el.active}">
          <a ui-sref='{{el.link}}'>
            {{el.name | ucFirst}}
          </a>
        </li>
        <!-- Profile button -->
        <li class="dropdown" dropdown>

            <a href dropdown-toggle>
              Profile <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li role="presentation" class="dropdown-header"> Role: <b>adminer</b> </li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action <span class="label label-default">new</span></a></li>
              <li><a href="#">Messages  <span class="badge alert-info">4</span></a></li>
              <li class="divider"></li>
              <li><a href="#">Log out</a></li>
            </ul>

        </li>
      </ul>
    </div>

  </div>

</nav>