
<div id="navbar-custom" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref='logged.main'>{{projectName}}</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
        </div>
        <div id='navbar' class="collapse navbar-collapse navbar-menubuilder">

          <!-- Edit MODE button / ONLY FOR ADMIN! -->
          <ul class="nav navbar-nav navbar-left" ng-hide="!edit.available">
          <li>
            <a href="" ng-click="edit.switch = true" ng-if="!edit.switch">
              <i class="fa fa-toggle-off fa-lg fa-fw"></i>
              Edit-off
            </a>
            <a href="" ng-click="edit.switch = false" ng-if="edit.switch">
              <i class="fa fa-toggle-on fa-lg fa-fw"></i>
              Edit-on
            </a>
          </li>
          </ul>

          <!-- Main menu -->
          <ul class="nav navbar-nav navbar-right">
              <li class='active' ng-if='lastVisited'>
                <a href ng-click="go(lastVisited)">
                  <i class="fa fa-step-backward fa-1x"></i> Back
                </a>
              </li>
              <!-- Menu buttons -->
              <li ng-repeat='el in menu' ng-class="{'active': el.active}">
                <a ui-sref='{{el.link}}'>
                  <i class="fa fa-{{el.icon}}"></i>
                  {{el.name | ucFirst}}
                </a>
              </li>

              <!-- Profile button -->
              <li class="dropdown" dropdown>

                  <a href dropdown-toggle>
                    <i class="fa fa-user fa-1x"></i>
                    Profile <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li role="presentation" class="dropdown-header"> Role: <b>adminer</b> </li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action <span class="label label-default">new</span></a></li>
                    <li><a href="#">Messages  <span class="badge alert-info">4</span></a></li>
                    <li class="divider"></li>
                    <li><a href="#">Log out</a></li>
                  </ul>

              </li>
          </ul>
        </div>
    </div>
</div>
