
<div class="panel panel-info">
  <div class="panel panel-heading">
      <h3>Gestione trascrizioni</h3>
  </div>
  <div class="panel panel-body">

    <p> File '<b>{{selectedFile}}</b>' </p>
    <p></p>

    <table>
        <tr>
            <td width='90%'>
                <div ng-hide='trans.length > 0'>
                      Nessuna trascrizione disponibile per questo documento.
                </div>
                <div ng-show='trans.length > 0'>
                      <b>{{trans.length}}</b> trascrizione/i disponibili.
                </div>
            </td>
            <td width='10%'>
                <button class="btn btn-primary" ng-click="addElement()">
                  aggiungi
                </button>
            </td>
        </tr>
    </table>

    <table class="table">
      <tr ng-repeat='tr in trans track by $index'>
        <td>
          <a href>
            <i class='fa fa-trash-o fa-2x' ng-click='removeElement($index)'></i>
          </a>
        </td>
        <td>
          <a href>
            <i class='fa fa-edit fa-2x' ng-click='switch($index)'></i>
          </a>
        </td>

        <td>
          <div ng-bind-html="trans[$index] || 'Clicca per modificare'"></div>
          <text-angular ng-show='test' ng-model="trans[$index]"></text-angular>
        </td>

<!--             <td editable-textarea='trans[$index]'
                e-rows="6" e-cols="80"
                e-placeholder='Incolla qui il testo...'
                onaftersave='saveElement($index)' >
                <div ng-bind-html="trans[$index] || 'Clicca per modificare'"></div>
            </td>
 -->
      </tr>
    </table>

  </div>
</div>
