
<div class="panel panel-info">
  <div class="panel panel-heading">
        <p align='right' ng-click='closeModal()'
            ><button class="btn btn-primary"><i class="fa fa-fw fa-close"
            ></i></button></p>
        <h3>Gestione trascrizioni</h3>
  </div>
  <div class="panel panel-body">


    <table>
        <tr>
            <td width='90%'>
                File <b>{{selectedFile}}</b>:
                <div ng-hide='trans.length > 0'>
                      nessuna trascrizione disponibile per questo documento.
                </div>
                <div ng-show='trans.length > 0'>
                      trovate <b>{{trans.length}}</b> trascrizione/i.
                </div>
            </td>
        </tr><tr>
            <td width='10%'>
                <br>
                <button class="btn btn-default" ng-click="addElement()">
                  Aggiungi
                </button>
            </td>
        </tr>
    </table>

    <hr></hr>

    <table class="table table-hover">

    <thead><tr>
        <th>Trascrizione</th>
        <th>Azioni</th>
        <th>Testo</th>
    </tr></thead>

      <tr ng-repeat='tr in trans track by $index' ng-if='trans[$index] != ""'>
        <td>
            <button class="btn btn-info" type="button">
              n. <span class="badge">{{$index+1}}</span>
            </button>
        </td>
        <td>
            <a href class="fa-stack fa-lg" ng-hide='editor[$index]'
                ng-click='editElement($index)' >
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <i class="fa fa-pencil fa-stack-1x"></i>
            </a>
            <a href class="fa-stack fa-lg" ng-show='editor[$index]'
                ng-click='saveElement($index)' >
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-save fa-stack-1x fa-inverse"></i>
            </a>
            <a href class="fa-stack fa-lg" ng-click='removeElement($index)' >
              <i class="fa fa-circle-o fa-stack-2x"></i>
              <i class="fa fa-trash fa-stack-1x "></i>
            </a>
        </td>
        <td width='90%'>
            <div ng-hide='editor[$index]' style='max-height:82px; overflow: auto;'
            ng-bind-html="trans[$index] || 'Clicca per modificare'"></div>

            <!-- TEXT EDITOR -->
            <text-angular
                focus-on="tangular{{$index}}" name="tangular{{$index}}"
                ng-show='editor[$index]' ng-model="trans[$index]"
            ></text-angular>
        </td>
      </tr>
    </table>

  </div>
</div>
