<div class="col-md-4" ng-show="step > 0 && step <= max" >

 <article ng-class="{'blur': current != step}" >

  <div class="panel" ng-class="{'shad': current == step, 'panel-default': current != step}">

    <div class="panel-heading">
      <h4> Step
        <span ng-if='current > step'>precedente</span>
        <span ng-if='current < step'>successivo</span>
        [{{step}}]:
        <i>{{name | ucFirst}}</i>
      </h4>
    </div>

    <div class="panel-body">

     <!-- Form for ADMIN USER -->
     <div ng-show='edit.switch'>
      <form editable-form name="myform" onaftersave="doSomethingToSave()">

        Work in progress:
        <br>
        There will be fields edit in here.

      </form>
     </div>

     <!-- Form for Normal insert user (OPERATOR)-->
     <div ng-hide='edit.switch'>
      <form editable-form name="myform" onaftersave="doSomethingToSave()">

       <!-- editable username (text with validation) -->
       <table ng-class="{'table': current == step}">
        <!-- repeat with sort? on key 'pos' -->
        <tr ng-if='element.key' ng-repeat="element in data | orderBy:'+pos' |limitTo:10">
            <th class='title'> {{element.key + ':' || 'empty'}} </th>
            <td editable-text="element.value" e-name="name"
            onaftersave="">
              {{element.value|| 'empty'}}
            </td>
        </tr>
       </table>

        <!-- based on current and the step of this directive -->
        <div class="buttons" ng-show="current == step">
          <!-- button to show form -->
          <button type="button" class="btn btn-default" ng-click="myform.$show()"
            ng-show="!myform.$visible">
            Edit
          </button>
          <!-- buttons to submit / cancel form -->
          <span ng-show="myform.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="myform.$waiting">
              Save
            </button>
            <button type="button" class="btn btn-default" ng-disabled="myform.$waiting" ng-click="myform.$cancel()">
              Cancel
            </button>
          </span>
        </div>

      </form>
     </div>

    </div>  <!-- end of panel body -->

  </div>
 </article>

</div>