
<div class="col-md-3 col-xs-3">

  <div class="list-group">
    <!-- HEADER -->
    <a class="list-group-item peach" ng-show='steps'>
      <h4 class='dtext'> Modifica degli step </h4>
    </a>
    <a href class="list-group-item" ng-hide='steps'>
      <h4 class='dtext'> Nessuno step ancora definito </h4>
    </a>
    <!-- STEPS -->
    <a href class="list-group-item"
      ng-repeat='(step,name) in steps' ng-if='name != null'
      ng-click="setStep(step)" ng-class="{'orange': step == current}">
        <!-- badge -->
        <span class="badge"> {{step}} </span>
        <!-- name -->
        {{ (name | ucFirst) || 'empty'}}
    </a>

    <a href="" class="list-group-item">
      <!-- buttons to submit / cancel form -->
      <span>
        <br>
        <button type='button' class="btn btn-default" ng-click="addStep()"
          tooltip-placement="right" tooltip="Aggiungi il nuovo step {{steps.length}}">
          <i class="fa fa-plus"></i>
        </button>
      </span>
    </a>

  </div>
 </a>
</div>

<div class="col-md-6 col-xs-6" ng-show='steps'>
 <!-- Form for ADMIN USER -->

 <div class='panel whitecard'>
    <div class='panel-heading'>

     <h3>

      <span ng-hide='current'> Work in progress </span>
      <span ng-show='current'>
        Step {{current}}:
        <!-- make editable -->
      <span editable-text="steps[current]" e-form="snameform" onaftersave='saveStepName()'>
        {{steps[current] || 'vuoto'}}
      </span>

      <div class="btn-group" role="group" ng-hide="snameform.$visible">
        <!-- button to edit name -->
        <button type="button" class="btn btn-default" ng-click="snameform.$show()"
        tooltip-placement="bottom" tooltip="Cambia nome dello step {{current}}"
        >
          <i class="fa fa-edit fa-fix"></i>
        </button>
        <!-- remove step -->
        <button class="btn btn-danger" ng-click="removeStep(current)"
        tooltip-placement="bottom" tooltip="Cancella lo step {{current}}"
        >
          <i class="fa fa-trash-o fa-fix"></i>
        </button>
      </div>

     </h3>

    </div>
    <div class='panel-body'>
      <div ng-hide='current'>
          Seleziona nel menu uno <b>Step</b> da modificare.<br>
      </div>
      <div ng-show='current'>

        <table class="table">

         <thead>
             <tr> <th>Nome</th> <th></th> <th>Tipo</th> </tr>
         </thead>

         <tbody>
          <tr ng-repeat='(name, type) in templates'>
           <td>
            <a href="#" editable-text="name" e-form='templname' onbeforesave="checkName($data)">
              {{name || 'empty'}}
            </a>
           </td> <td> = </td> <td>
            <a href="#" editable-text="type" e-form='templtype'
              e-ng-options="s.value as s.text for s in statuses">
              {{ selectType(type) }}
            </a>
           </td>
          </tr>
         </tbody>

        </table>

        <br>
        <button type='button' class="btn btn-primary" ng-click="addTemplate()"
          tooltip-placement="right" tooltip="Aggiungi un nuovo campo allo step {{steps.length}}">
          <i class="fa fa-plus"></i>
        </button>

      </div>
    </div>
  </div>


</div>
