
<div class="col-md-3 col-xs-3">
 <form editable-form >

  <div class="list-group">
    <!-- HEADER -->
    <a class="list-group-item peach" ng-show='steps'>
      <h4 class='dtext'> Modifica degli step </h4>
    </a>
    <a href class="list-group-item" ng-hide='steps'>
      <h4 class='dtext'> Nessuno step ancora definito </h4>
    </a>
    <!-- STEPS -->
    <a href class="list-group-item"
      ng-repeat='(step,name) in steps' ng-if='name != null'
      ng-click="setStep(step)" ng-class="{'orange': step == current}">
      <!-- step edit -->
      <span editable-number="step" e-min="1" ng-show="stepsForm.$visible" e-required>
        Step
        {{step}}
      </span>
      <!-- editable label -->
      <span editable-text="name" e-form="stepsForm">
        <!-- badge -->
        <span class="badge"> {{step}} </span>
        <!-- name -->
        {{ (name | ucFirst) || 'empty'}}
      </span>
      <!-- remove button -->
      <button ng-show="stepsForm.$visible" class="btn btn-danger" ng-click="removeStep($index)">
        <i class="fa fa-trash-o"></i>
      </button>
    </a>

    <a href="" class="list-group-item">
      <!-- buttons to submit / cancel form -->
      <span>
        <br>
        <button type='button' class="btn btn-default" ng-click="addStep()" ng-disabled="stepsForm.$waiting">
          <i class="fa fa-plus"></i>
        </button>
        <button type="submit" class="btn btn-success" ng-disabled="stepsForm.$waiting"
          ng-click='edit.switch = false;' ng-show='steps'>
          <i class="fa fa-floppy-o"></i>
        </button>
        <button type="button" class="btn btn-warning" ng-disabled="stepsForm.$waiting"
          ng-click="undoSteps(); edit.switch = false;" ng-show='steps'>
          <i class="fa fa-times"></i>
        </button>
      </span>
    </a>

  </div>
 </a>
</div>

<div class="col-md-6 col-xs-6" ng-show='steps'>
 <!-- Form for ADMIN USER -->
 <form editable-form name="myform" onaftersave="doSomethingToSave()">
 <div class='panel whitecard'>
    <div class='panel-heading'>
      <h3>Work in progress</h3>
    </div>
    <div class='panel-body'>
      <div ng-hide='current'>
          Seleziona nel menu uno <b>Step</b> da modificare.<br>
      </div>
      <div ng-show='current'>
          Step corrent {{current}}
      </div>
    </div>
  </div>
 </form>
</div>
