
<div ng-hide='stepsNum > 0'>
  No stepsData configured yet. <br>
  Please <a href>contact administrator</a>.
</div>

<div ng-show='stepsNum > 0'>

  <!-- Repeat on a list of steps i need:
    a. Step before if exists
    b. CURRENT step
    c. Step after, if exists
    -->
  <submission-step ng-repeat='i in [current-1,current,current+1]' id='id'
    step='i' name='steps[i]' current='current' max='steps.length'>
  </submission-step>

  <!-- Upload - This will be last step, so take double the necessary space -->
  <div class="col-md-8" ng-show="current == steps.length-1 || current == steps.length">
     <article ng-class="{'blur': current < steps.length}" >
      <div class="well">
        <h4 ng-if='current == steps.length-1'>Successivo:</h4>
        <file-uploader></file-uploader>
      </div>
     </article>
  </div>

</div>
