<div>
 <article ng-class="{'blur': current != step}" >

  <div class="panel" ng-class="{'shad': current == step, 'panel-default': current != step}">

    <div class="panel-heading">
      <h4> Step
        <span ng-if='current > step'>precedente</span>
        <span ng-if='current < step'>successivo</span>
        [{{step}}]:
        <i>{{name | ucFirst}}</i>
      </h4>

        <!-- based on current and the step of this directive -->
        <div class="buttons" ng-show="current == step && data">
          <!-- button to show form -->
          <button type="button" class="btn btn-default" ng-click="myform.$show()"
            ng-show="!myform.$visible" >
            Modifica
          </button>
          <!-- button to tell user to go to next step... -->
          <a href ui-sref='logged.submission.step({myId:identifier, stepId:current+1})'
          ><button type="button" class="btn btn-warning"
            ng-show="!myform.$visible"
            >Prossimo Step {{current + 1}}
              <i class="fa fa-caret-right"></i>
            </button></a>

        </div>
    </div>

    <div class="panel-body">

      <div ng-hide='data[step] || (data && !data[step])'>
        <h4> <i class="fa fa-refresh fa-spin"></i> in caricamento </h4>
      </div>

      <div ng-show='data && !data[step]'>
        <b>Questo step non è ancora stato configurato...</b>
      </div>

     <!-- Form for Normal insert user (OPERATOR)-->
      <form editable-form name="myform" ng-show='data'
        onaftersave="saveStep()" >


       <!-- editable username (text with validation) -->
       <table ng-class="{'table': current == step}">
        <!-- <thead> <tr> <th>Colonna</th> <th>Valore</th> </tr> </thead> -->
        <tbody>
          <!-- repeat with sort on key 'pos', show few records if not current -->
          <tr ng-if='obj.key && (current == step || $index < 3)'
            ng-repeat="(pos,obj) in data[step] track by $index" >

            <!-- Name of this field -->
            <th class='title'> {{ (obj.key | ucFirst) || 'empty'}} </th>
            <td ng-show='current != step'>&nbsp;</td>

            <!-- TYPE -->
            <td>
<!-- ON OUT FOCUS? -->
              <!-- STRING -->
              <span
                ng-if='obj.type == types[0].text' e-form="myform"
                editable-text="obj.value"
                e-placeholder='Inserisci una {{obj.type}}a'
                onbeforesave="checkData(obj.req, $data, obj.type)"
                e-size='40'
                >
                {{obj.value || 'empty'}}
              </span>
              <!-- NUMBER -->
              <span
                ng-if='obj.type == types[1].text' e-form="myform"
                editable-number="obj.value"
                e-placeholder='{{obj.type}}'
                onbeforesave="checkData(obj.req, $data, obj.type)"
                e-min="1" e-max="99999"
                >
                {{obj.value || 'empty'}}
              </span>
              <!-- EMAIL -->
              <span
                ng-if='obj.type == types[2].text' e-form="myform"
                editable-email="obj.value"
                e-placeholder='Indirizzo {{obj.type}}'
                onbeforesave="checkData(obj.req, $data, obj.type)"
                e-size='40'
                >
                {{obj.value || 'empty'}}
              </span>
              <!-- URL -->
              <span
                ng-if='obj.type == types[3].text' e-form="myform"
                editable-url="obj.value"
                e-placeholder='Indirizzo {{obj.type}}'
                onbeforesave="checkData(obj.req, $data, obj.type)"
                e-size='40'
                >
                {{obj.value || 'empty'}}
              </span>
              <!-- DATE -->
              <span ng-if='obj.type == types[4].text' e-form="myform"
                editable-date="obj.value"
                onbeforesave="checkData(obj.req, $data, obj.type)" >
                {{ (obj.value | date:'dd-MM-yyyy') || 'empty'}}
              </span>
              <!-- TIME -->
              <span ng-if='obj.type == types[5].text' e-form="myform"
                editable-time="obj.value"
                onbeforesave="checkData(obj.req, $data, obj.type)" >
                {{ (obj.value | date:'hh:mm') || 'empty'}}
              </span>

<!-- TO FIX -->
              <!-- PATTERN -->
              <span ng-if='obj.type == types[6].text' e-form="myform"
                editable-text="obj.value"
                e-pattern="d{2}w{3}"
                onbeforesave="checkData(obj.req, $data, obj.type)" >
                my pattern {{obj.value || 'empty'}}
              </span>
<!--
  <div>PATTERN: <a href="#" editable-tel="user.tel" e-pattern="\d{3}\-\d{2}\-\d{2}" e-title="xxx-xx-xx">{{ user.tel || 'empty' }}</a></div>
-->

              <!-- COLOR -->
              <span ng-if='obj.type == types[7].text' e-form="myform"
                editable-color="obj.value"
                ng-init='obj.value = obj.value || "#000"'
                onbeforesave="checkData(obj.req, $data, obj.type)" >
                {{obj.value}}
              </span>
              <!-- LIST -->
              <span ng-if='obj.type == types[8].text' >
               <span ng-show="myform.$visible">

<!-- ng-init='if (obj.req) {obj.value = obj.value || 0;}' -->
                <select ng-model="obj.tmp"
                    ng-init='obj.thelist=obj.extra.split(",");
                    obj.tmp = obj.thelist[obj.value];'
                    ng-options="tmp for tmp in obj.thelist"
                    onbeforesave="checkData(obj.req, $data, obj.type)"
                > </select>
<!--                 test {{obj}}
 -->
               </span>
<!-- RETRY XEDITABLE SELECT -->
               <span ng-hide="myform.$visible">
               {{obj.tmp || 'empty'}}
              </span>


            </td> <!-- TYPE -->

          </tr>
          <tr ng-if='current != step'> <td colspan="2">...</td> </tr>
        </tbody>
       </table>

        <!-- based on current and the step of this directive -->
        <div class="buttons" ng-show="current == step && data">
          <!-- buttons to submit / cancel form -->
          <span ng-show="myform.$visible">
            <button type="submit" class="btn btn-success" ng-disabled="myform.$waiting">
              Salva tutte le modifiche
            </button>
            <button type="button" class="btn btn-danger" ng-disabled="myform.$waiting"
              ng-click="myform.$cancel()">
              Annulla modifiche correnti
            </button>
          </span>
          <!-- button to tell user to go to next step... -->
          <span ng-if='countTempl > 9'>
          <a href ui-sref='logged.submission.step({myId:myrecordid, stepId:current+1})'
          ><button type="button" class="btn btn-warning"
            ng-show="!myform.$visible"
            >Prossimo Step {{current + 1}} &gt;&gt;</button></a>
          </span>
        </div>

      </form>

    </div>  <!-- end of panel body -->
  </div> <!-- end of panel -->

 </article>
</div>