<div>
 <article ng-class="{'blur': current != step}" >

  <div class="panel" ng-class="{'shad': current == step, 'panel-default': current != step}">

    <div class="panel-heading">
      <h4> Step
        <span ng-if='current > step'>precedente</span>
        <span ng-if='current < step'>successivo</span>
        [{{step}}]:
        <i>{{name | ucFirst}}</i>
      </h4>
    </div>

    <div class="panel-body">

      <div ng-hide='data[step] || (data && !data[step])'>
        <h4> <i class="fa fa-refresh fa-spin"></i> in caricamento </h4>
      </div>

      <div ng-show='data && !data[step]'>
        <b>Questo step non è ancora stato configurato...</b>
      </div>

     <!-- Form for Normal insert user (OPERATOR)-->
      <form editable-form name="myform" ng-show='data'
        onaftersave="saveStep()" >

       <!-- editable username (text with validation) -->
       <table ng-class="{'table': current == step}">
        <!-- <thead> <tr> <th>Colonna</th> <th>Valore</th> </tr> </thead> -->
        <tbody>
          <!-- repeat with sort on key 'pos' -->
          <tr ng-repeat="(pos,obj) in data[step]" ng-if='obj.key' >

            <!-- Name of this field -->
            <th class='title'> {{ (obj.key | ucFirst) || 'empty'}} </th>
            <td ng-show='current != step'>&nbsp;</td>

            <!-- TYPE -->
            <td>
<!-- ON OUT FOCUS? -->
              <!-- STRING -->
              <span
                ng-if='obj.type == types[0].text'
                e-form="myform"
                editable-text="obj.value"
                onbeforesave="checkData($data, obj.type)"
                e-placeholder='Inserisci una {{obj.type}}a'
                e-size='40'
                >
                {{obj.value || 'empty'}}
              </span>
              <!-- NUMBER -->
              <span
                ng-if='obj.type == types[1].text'
                e-form="myform"
                editable-number="obj.value"
                e-placeholder='Inserisci un {{obj.type}} reale'
                onbeforesave="checkData($data, obj.type)"
                e-min="18"
                >
                {{obj.value || 'empty'}}
              </span>
<!--
  <div>Email: <a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></div>
  <div>Tel: <a href="#" editable-tel="user.tel" e-pattern="\d{3}\-\d{2}\-\d{2}" e-title="xxx-xx-xx">{{ user.tel || 'empty' }}</a></div>
  <div>Range: <a href="#" editable-range="user.range" e-step="5">{{ user.range || 'empty' }}</a></div>
  <div>Url: <a href="#" editable-url="user.url">{{ user.url || 'empty' }}</a></div>
  <div>Search: <a href="#" editable-search="user.search">{{ user.search || 'empty' }}</a></div>
  <div>Color: <a href="#" editable-color="user.color">{{ user.color || 'empty' }}</a></div>
  <div>Date: <a href="#" editable-date="user.date">{{ user.date || 'empty' }}</a></div>
  <div>Time: <a href="#" editable-time="user.time">{{ user.time || 'empty' }}</a></div>
-->
            </td> <!-- TYPE -->

          </tr>
        </tbody>
       </table>

        <!-- based on current and the step of this directive -->
        <div class="buttons" ng-show="current == step && data">
          <!-- button to show form -->
          <button type="button" class="btn btn-default" ng-click="myform.$show()"
            ng-show="!myform.$visible" >
            Edit
          </button>
          <!-- buttons to submit / cancel form -->
          <span ng-show="myform.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="myform.$waiting">
              Save
            </button>
            <button type="button" class="btn btn-default" ng-disabled="myform.$waiting"
              ng-click="myform.$cancel()">
              Cancel
            </button>
          </span>
        </div>

      </form>

    </div>  <!-- end of panel body -->
  </div> <!-- end of panel -->

 </article>
</div>