<div class="container-fluid">

 <!-- NORMAL USER - INSERT MODE -->
 <div class="row" ng-hide='edit.switch'>

  <!-- this is used to get the CSS3 blur -->
  <div class="ib-container" id="ib-container">

    <!-- STEP LIST -->
    <div class="col-md-3 col-xs-3">
      <div class="list-group">
        <!-- HEADER -->
        <a class="list-group-item peach" ng-if="myrecordid == 'new'">
          <h4 class='dtext'> Procedura di inserimento </h4>
        </a>
        <a class="list-group-item disabled" ng-if="myrecordid != 'new'">
          <h4 class='dtext'> Modifica </h4>
<!-- SHOULD ADD 'draft' IF NOT PUBLISHED YET -->
          <b>Record</b> <span class="label label-info">
            {{ myrecordid | limitTo:8}} </span>
        </a>

        <!-- STEPS -->
        <a href class="list-group-item"
          ng-repeat='name in steps track by $index' ng-if='name && $index > 0'
          ng-click="broadcastStep($index)" ng-class="{'orange': $index == current}">
          <!-- name -->
          {{name | ucFirst}}
          <!-- badge -->
          <span class="badge"> {{$index}} </span>
        </a>

        <!-- UPLOADER -->
        <a href="" class="list-group-item" ng-hide="myrecordid == 'new'"
          ng-click="broadcastStep(steps.length)"
          ng-class="{'orange': steps.length == current}">
          <span class="badge">{{steps.length}}</span> Upload
        </a>

        <!-- FILE PROCESS -->
        <a href class="list-group-item" ng-hide="current < steps.length"
          ng-click="broadcastStep(steps.length+1)"
          ng-class="{'orange': steps.length+1 == current}">
          <span class="badge">{{steps.length+1}}</span>
          <b> <i>File Process</i> </b>
        </a>

      </div>
    </div>

    <div ng-show="myrecordid == 'new'" class='col-md-8 col-xs-8'>
        <div class='panel panel-warning'>
            <div class='panel-heading'>
                <h4> Generando una nuova bozza </h4>
            </div>
            <div class='panel-body'>
                <i class="fa fa-refresh fa-spin"></i>
                Attendere prego...
            </div>
        </div>
    </div>

    <div ng-hide="myrecordid == 'new'">
        <!-- MAIN BODY of USER SUBMISSION -->
        <div class="col-md-9 col-xs-9">
          <!-- Make sure of at least one element selected -->
          <div ng-hide='current'>
            Seleziona un elemento nel menu laterale
          </div>

          <!-- A new view for ajax calls -->
          <div ui-view="singlestep"></div>

        </div>
    </div>

  <!-- BLUR div -->
  </div>
 </div> <!-- row -->

</div>