<div class="container-fluid">

 <!-- ADMIN USER - EDIT MODE -->
 <div class="row" ng-show='edit.switch'>
    <form editable-form name="stepsForm" onaftersave="saveSteps()">
     <div ng-include="'submission/singlestep_admin_view.html'"></div>
    </form>
 </div>

 <!-- NORMAL USER - INSERT MODE -->
 <div class="row" ng-hide='edit.switch'>

  <!-- this is used to get the CSS3 blur -->
  <div class="ib-container" id="ib-container">

    <!-- STEP LIST -->
    <div class="col-md-3 col-xs-3">

      <div class="list-group">
        <!-- HEADER -->
        <a class="list-group-item peach" ng-if="id == 'new'">
          <h4 class='dtext'> Inserimento </h4>
        </a>
        <a class="list-group-item disabled" ng-if="id != 'new'">
          <h4 class='dtext'> Modifica </h4>
          <b>Record</b> <span class="label label-info"> {{id | limitTo:8}} </span>
        </a>

        <!-- STEPS -->
        <a href class="list-group-item" ng-repeat='(step,name) in steps'
          ng-if='name != null'
          ng-click="setStep(step)" ng-class="{'orange': step == current}">
          <!-- name -->
          {{name | ucFirst}}
          <!-- badge -->
          <span class="badge"> {{step}} </span>
        </a>

        <!-- UPLOADER -->
        <a href="" class="list-group-item"
          ng-click="setStep(steps.length +1)" ng-class="{'orange': steps.length+1 == current}">
          <span class="badge">{{steps.length+1}}</span> Upload
        </a>

      </div>


    </div>

    <!-- MAIN BODY of SUBMISSION -->
    <div class="col-md-9 col-xs-9">

      <div ng-hide='steps.length > 0'>
        No steps configured yet! <br>
        Please <a href>contact administrator</a>.
      </div>

      <div ng-show='steps.length > 0'>

        <!-- Step before if exists-->
        <submission-step current='current' step='current-1' max='stepsData.length'
          name='steps[current-1]'
          template='formTemplate' data='stepsData[current-2]'></submission-step>
        <!-- CURRENT step -->
        <submission-step current='current' step='current' max='stepsData.length'
          edit='edit' name='steps[current]'
          template='formTemplate' data='stepsData[current]'></submission-step>
        <!-- Step after, if exists -->
        <submission-step current='current' step='current+1' max='stepsData.length'
          name='steps[current+1]'
          template='formTemplate' data='stepsData[current]'></submission-step>

        <!-- Upload - This will be last step, so take double the necessary space -->
        <div class="col-md-8" ng-show="current == steps.length +1 || current == steps.length">
           <article ng-class="{'blur': current == steps.length}" >
            <div class="well">
              <h4 ng-if='current == steps.length'>Successivo:</h4>
              <file-uploader></file-uploader>
            </div>
           </article>
        </div>

    </div>

    </div>

  <!-- BLUR div -->
  </div>
 </div> <!-- row -->
</div>