<div class="container-fluid">

 <!-- ADMIN USER - EDIT MODE -->
 <div class="row" ng-show='edit.switch'>
    <form editable-form name="stepsForm" onaftersave="saveSteps()">
     <div ng-include="'submission/singlestep_admin_view.html'"></div>
    </form>
 </div>

 <!-- NORMAL USER - INSERT MODE -->
 <div class="row" ng-hide='edit.switch'>

  <!-- this is used to get the CSS3 blur -->
  <div class="ib-container" id="ib-container">

    <!-- STEP LIST -->
    <div class="col-md-3 col-xs-3">

      <div class="list-group">
        <!-- HEADER -->
        <a class="list-group-item peach" ng-if="id == 'new'">
          <h4 class='dtext'> Inserimento </h4>
        </a>
        <a class="list-group-item disabled" ng-if="id != 'new'">
          <h4 class='dtext'> Modifica </h4>
          <b>Record</b> <span class="label label-info"> {{id | limitTo:8}} </span>
        </a>

        <!-- STEPS -->
        <a href class="list-group-item" ng-repeat='(step,name) in steps'
          ng-if='name != null'
          ng-click="broadcastStep(step)" ng-class="{'orange': step == current}">
          <!-- name -->
          {{name | ucFirst}}
          <!-- badge -->
          <span class="badge"> {{step}} </span>
        </a>

        <!-- UPLOADER -->
        <a href="" class="list-group-item"
          ng-click="broadcastStep(steps.length)" ng-class="{'orange': steps.length == current}">
          <span class="badge">{{steps.length}}</span> Upload
        </a>

      </div>
    </div>

    <div ui-view="singlestep"></div>

  <!-- BLUR div -->
  </div>
 </div> <!-- row -->
</div>