<!DOCTYPE html>
<html class="no-js" ng-app="yoApp" ng-controller="InitController">
  <head>
    <!-- <base href="/app/" /> -->
    <meta charset="utf-8">
    <title>Spectacle</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico?v=1" />
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link ng-repeat="ref in css" rel='stylesheet' type='text/css' ng-href="{{ref}}" />
    <!-- endbuild -->
  </head>

  <body ng-class="{'gbg': onOff.bg, 'bodypadtop': onOff.pad,
  'staticbg': !onOff.pad, 'darkbg': onOff.dark, }">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser.<br>
    Please <a href="http://browsehappy.com/">upgrade your browser</a><br>
    to improve your experience.</p>
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <div ui-view="main"></div>
    <ng-include src="'templates/analytics.html'" ng-if='analytics'></ng-include>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/conf.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/routing.js"></script>

        <!-- new logic -->
        <script src="scripts/submission/submission_model.js"></script>
        <script src="scripts/submission/steplist_model.js"></script>
        <script src="scripts/submission/steptemplate_model.js"></script>
        <script src="scripts/submission/stepcontent_model.js"></script>
        <!-- new logic -->

        <script src="scripts/controllers/initcontroller.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/search.js"></script>
        <script src="scripts/controllers/submissioncontroller.js"></script>
        <script src="scripts/controllers/uploadcontroller.js"></script>
        <script src="scripts/controllers/newscontroller.js"></script>
        <script src="scripts/controllers/viewercontroller.js"></script>
        <script src="scripts/services/notificationfactory.js"></script>
        <script src="scripts/services/api_client.js"></script>
        <script src="scripts/services/mixed.js"></script>
        <script src="scripts/directives/notify.js"></script>
        <script src="scripts/directives/editablecontent.js"></script>
        <script src="scripts/directives/submissionstep.js"></script>
        <script src="scripts/directives/fileuploader.js"></script>
        <script src="scripts/filters/textop.js"></script>
        <script src="scripts/apppostprocess.js"></script>
        <!-- endbuild -->

</body>
</html>
