/* Static welcome page
-------------------------------------------------- */
.staticbg {
  background: url('../images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.centering {
    text-align: center;
}
.wbg {
    background: #fff;
}
.titleWritings a {
    color: #ccc;
    text-decoration: none;
}
.titleWritings
{
    -webkit-box-shadow:0 3px 6px rgba(0, 0, 0, 0.7), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 3px 6px rgba(0, 0, 0, 0.7), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 3px 6px rgba(0, 0, 0, 0.7), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    font-family: 'Mr De Haviland', Arial;
    text-shadow: 22px 11px 11px #111;
    background: rgb(92, 172, 196); background: rgba(92, 172, 196, 0.88);
    border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;
    padding-top: 0.1em;
    margin: 0px;
    margin-bottom: 15px;
    line-height: 1.1;
}
@media (max-width: 480px)
{ .titleWritings { font-size:40px; } }
@media (min-width: 480px)
{ .titleWritings {font-size:60px;} }
@media (min-width: 640px)
{ .titleWritings {font-size:70px;} }
@media (min-width:960px)
{ .titleWritings {font-size:82px;} }
@media (min-width:1100px)
{ .titleWritings {font-size:92px;} }
.bd {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
/* grey background for body in card views */
.gbg {
  background-color: #f3f3f3;
}
.darkbg {
  background-color: #343434;
/*
    background: -webkit-linear-gradient(top, rgba(255, 214, 163, 1) 0%, rgba(250, 173, 142, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 214, 163, 1) 0%, rgba(250, 173, 142, 1) 100%);
*/
}

/* Sticky footer styles
-------------------------------------------------- */

/*http://stackoverflow.com/a/21652935*/
.wholeapp { display: table; }
.contentapp { display: table-row; height: 100%; }
.contentapp-body { display: table-cell; }

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
  position: absolute;
  bottom: 0px;
  width:100%;
}
#footer {
  background-color: #f5f5f5;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.container .credit {
  margin: 20px 0;
}

/* Sticky footer styles - END
-------------------------------------------------- */

/* Space out content a bit */
.bodypadtop {
  padding-top: 70px;
}

.logo {
  padding-left: 10px;
  color: white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  z-index: 99999;
}
.bgposition {
  z-index: 1;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 15px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*
****************
Paulie @
My own extra
****************
*/

.message {
  /* UHM */
}

.myred {
  color: rgb(174, 81, 76);
  font-weight: bold;
}

.highlight {
  box-shadow: 0;
  box-shadow: 1px 1px 1px #777;
}
.highlight :hover {
  transition: box-shadow 0.2s;
  box-shadow: 2px 1px 5px #AA3939;
}

.fix {
  position: fixed;
  top: 60px;
  right: 1.0em;
  z-index: 99999;
}

.shad {
  box-shadow: 1px 0 10px #999;
}
.barshad {
  box-shadow: 0 0 10px black;
}
.headcolor {
  color: #002C42;
}
.nopad {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-left: 12px;
}

/*input[type="text"], textarea .icolor {
  background-color : #0887C4;
  border-color: #ddd;
}
#mysearch{
  color:#fff;
}
*/
.edittip {
  text-align: left;
  position: fixed;
  bottom: 0.1em;
  left: 1.0em;
  z-index: 1000;
}

.switch {
  width: 32px;
  height: 20px;
}
.switch small {
  width: 20px;
  height: 20px;
}

/* Most simple animation (fade)
with angularjs, css3 on ng-show/ng-hide
http://stackoverflow.com/a/27438743 */

.animate-show,
.animate-hide {
   -webkit-transition:all linear 0.5s;
   -moz-transition:all linear 0.5s;
   -ms-transition:all linear 0.5s;
   -o-transition:all linear 0.5s;
   transition:all linear 0.5s;
}
.animate-show.ng-hide-remove,
    .animate-hide.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
}
.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
     opacity: 1;
     display: block !important;
 }

/* Cool brand image wrapper
http://webdesignerwall.com/tutorials/css3-image-styles
*/
.circle {
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}

/* Bootstrap button aligned with heading
http://stackoverflow.com/a/20209432
*/
.text-center h3 { margin: 0; }

/* Fixing file selection as bootstrap button */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* The end */