/*

font-family: 'Lovers Quarrel', cursive;
font-family: 'Mr De Haviland', cursive;
font-family: 'Rouge Script', cursive;
font-family: 'Miss Fajardose', cursive;

http://javierbyte.github.io/cohesive-colors/

#205767
#6E9FA2
#816A4D
#E2D5C5
#F4F3EC

overlay #FF9C00

---

Or my test
http://www.colourlovers.com/palette/46688/fresh_cut_day
+ another color #202223

with overlay #AB1111

*/

.btn-primary {
background-image: linear-gradient(to bottom,#816A4D 0,#816A4D 100%);
}


@import url(http://fonts.googleapis.com/css?family=Lovers Quarrel);
/*@import url(http://fonts.googleapis.com/css?family=Antic+Slab); */
html,body {
  height:100%;
}

.lead {
/*    color:#DDCCEE;
*/    color:#816A4D;
    font-size: 28px;
}

.wrapperlayers {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20px;
    text-align: center;
}

.textlayer h1 {
  font-family: 'Lovers Quarrel', cursive;
/*  font-family: 'Antic Slab', serif;
  color:#DDCCEE;
    color:#E2D5C5;
*/
    color:#205767;
    text-shadow: 3px 1px #aaa;
    font-size:122px;
    background-color: rgba(248, 247, 216, 0.35);
}

.imagelayer {
    width: 800px;
    height: 300px;
    background-image: url("../images/baroq2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
/*    -webkit-filter: grayscale;
    -webkit-filter: brightness(95%);
    filter: blur(20px) grayscale(20%);
*/
-webkit-filter: opacity(.85);
filter: opacity(.85);
/*-webkit-filter: blur(0.8px);
filter: blur(0.8px);
*/

    border-radius: 10px;
}
.colorlayer {
    background-color: rgba(248, 247, 216, 0.4);
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 9px;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color: #205767;
/*  #110022; */
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

/* Else
body {
  padding-top: 51px;
}
*/

.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}
