<div ng-controller="MainController">

    <!-- Loader until app is ready -->
    <ng-include src="'templates/init.html'"></ng-include>

    <!-- MAIN BODY -->
    <div ng-if="init.startup" id="wrap">
        <!-- Top bar -->
        <div ng-include="'templates/topbar.html'"></div>
        <!-- Notification message Directive -->
        <notify></notify>

        <div class="container" > Testing </div>
        <!-- MAIN VIEW (see views/ directory)
        Change me in a UI-ROUTER SUB VIEW
        <div ng-view=""></div>
        -->
    </div>
    <!-- Footer
    <div ng-if="init.startup" ng-include="'templates/footer.html'"></div>
    -->

</div>