<div class="container">

 <div class="row">
  <div class="col-md-8 col-xs-6" >

    <!-- should be an API resource -->
    <!-- with ADD, REMOVE, EDIT and so on -->

    <h3>Lista delle novità
    <i class="fa fa-rss fa-1x"></i>
    </h3>
    <table class="table">
        <tr> <th>Data</th> <th>Cambiamento</th> </tr>
        <tr> <td>oggi</td> <td>inizia tutto</td> </tr>
        <tr> <td>domani</td> <td>prova</td> </tr>
        <tr> <td>dopodomani</td> <td>rilascio</td> </tr>
    </table>

  </div>
 </div>
 <hr>

 <!-- Notification tester

  <h4> Notification testers </h4>
  <div class="well shad" ng-init="btnValue=0; btnTwo=0; tmp = {message:''};">
      btnValue1: {{btnValue}} <br>
      Message: <input type="text" name="test" ng-model="tmp.message"> <br>

      <div class="btn-group" role="group" aria-label="label-default">
        <button ng-repeat="num in [0,1,2,3,4]"
          ng-click='setNotification(num, $parent.tmp.message); $parent.btnValue=num;'
          type="button" class="btn btn-default">
            {{num}}
        </button>
      </div>
      <hr>
      btnValue2 = {{btnTwo}} <br>
      <div class="btn-group" role="group" aria-label="label-default">
        <button ng-repeat="num in [0,1,2,3,4]"
          ng-click='setNotification(num, "SECOND"); $parent.btnTwo=num;'
          type="button" class="btn btn-default">
            {{num}}
        </button>
      </div>
  </div>

-->

<!-- TESTING tooltip
<h4> Tooltips </h4>
<div class="row">
  <div class="col-md-6" ng-init='dynamicTooltip = "test"'>
     <a href="#" tooltip-placement="right" tooltip="{{dynamicTooltip}}">I have Tooltip</a>
     <br>
     <a href="#" tooltip-placement="bottom" tooltip="Fixed">..me too!</a>
  </div>
-->
<!--
  <div class="col-md-6">
    <a href="" data-toggle="popover" data-trigger="hover"
      title="Wow. Looky Here."
      data-content="More stuff here.."
      >I have a Popover</a>
  </div>
-->
</div>

</div>
