<div class="container">

 <div class="row">
  <div class="col-md-9 col-xs-6 wbg" >

    <!-- should be an API resource -->
    <!-- with ADD, REMOVE, EDIT and so on -->

    <h3>
      Lista delle novità
      <i class="fa fa-rss fa-fw fa-1x"></i>

      <!-- add news button -->
      <div ng-show='edit.switch'>
        <br>
        <button class="btn btn-default" ng-click="addNews()">
          <i class='fa fa-plus' tooltip-placement="right" tooltip="Aggiungi una news" ></i>
        </button>
      </div>

    </h3>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Data</th>
          <th>Descrizione</th>
          <th ng-show="edit.switch">Modifiche</th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="el in news">

          <!-- editable (text with validation) -->
          <td>
            <span editable-date="el.date" e-name="desc" e-form="rowform" e-required>
              {{ el.date | date :'MMM dd yyyy' || 'empty' }}
            </span>
          </td> <td>
            <span editable-text="el.description" e-name="desc" e-form="rowform" e-required>
              {{ el.description || 'empty' }}
            </span>
          </td>

          <!-- Edit buttons and form -->
          <td style="white-space: nowrap" ng-show="edit.switch">
            <!-- form -->
            <form editable-form name="rowform" onbeforesave="saveNews($data, el.id)"
                ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == el">
              <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-info">
                <i class='fa fa-check-square-o' tooltip-placement="Left" tooltip="Salva"></i>
              </button>
              <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                <i class='fa fa-remove' tooltip-placement="right" tooltip="Annulla"></i>
              </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
              <button class="btn btn-primary" ng-click="rowform.$show()">
                <i class='fa fa-edit' tooltip-placement="left" tooltip="Modifica"></i>
              </button>
              <button class="btn btn-danger" ng-click="removeNews($index)">
                <i class='fa fa-remove' tooltip-placement="right" tooltip="Cancella"></i>
              </button>
            </div>
          </td>

        </tr>

      </tbody>
    </table>

  </div>
 </div>

 <hr>
 <div>
   Oggi è il <b>{{date | date:'dd-MM-yyyy'}}</b>
 </div>

  <!-- Modal example
  <button class="btn btn-default" ng-click="open()">Open me!</button>
  -->

 <!-- Notification tester

  <h4> Notification testers </h4>
  <div class="well shad" ng-init="btnValue=0; btnTwo=0; tmp = {message:''};">
      btnValue1: {{btnValue}} <br>
      Message: <input type="text" name="test" ng-model="tmp.message"> <br>

      <div class="btn-group" role="group" aria-label="label-default">
        <button ng-repeat="num in [0,1,2,3,4]"
          ng-click='setNotification(num, $parent.tmp.message); $parent.btnValue=num;'
          type="button" class="btn btn-default">
            {{num}}
        </button>
      </div>
      <hr>
      btnValue2 = {{btnTwo}} <br>
      <div class="btn-group" role="group" aria-label="label-default">
        <button ng-repeat="num in [0,1,2,3,4]"
          ng-click='setNotification(num, "SECOND"); $parent.btnTwo=num;'
          type="button" class="btn btn-default">
            {{num}}
        </button>
      </div>
  </div>

-->

<!-- TESTING tooltip
<h4> Tooltips </h4>
<div class="row">
  <div class="col-md-6" ng-init='dynamicTooltip = "test"'>
     <a href="#" tooltip-placement="right" tooltip="{{dynamicTooltip}}">I have Tooltip</a>
     <br>
     <a href="#" tooltip-placement="bottom" tooltip="Fixed">..me too!</a>
  </div>
-->
<!--
  <div class="col-md-6">
    <a href="" data-toggle="popover" data-trigger="hover"
      title="Wow. Looky Here."
      data-content="More stuff here.."
      >I have a Popover</a>
  </div>
-->
</div>

</div>
