<div ng-controller="ViewController">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h5>Testing rethinkdb database</h5>
      </div>
      <div class="panel-body">

      <div>
       Current page: <input type="text" name="input" value="1"
        ng-model="currentpage" ng-change="reloadTable(perpage,currentpage)">
      </div>
      <div>
       Elements per page: <input type="text" name="input" value="10"
        ng-model="perpage" ng-change="reloadTable(perpage,currentpage)">
      </div>

    <!-- TO FIX - if data == 0 nothing changes... -->
      <!-- Handle loading and zero data -->
      <div id='spinner' ng-hide='data.length >= 0'>
        Loading <i class="fa fa-refresh fa-spin"></i>
      </div>

      <div id='nodata' ng-show='data.length == 0'>
        No data foundzy.
      </div>
    <!-- TO FIX - if data == 0 nothing changes... -->

      <!-- data table -->
      <div ng-show='data.length > 0'>
        <span>Viewing
        from {{from}}
        to {{from + data.length - 1}}
        of {{datacount}}:</span>
        <table class="table table-striped">
          <thead>
            <tr>
              <th ng-repeat="head in headers">{{head}}</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="row in data track by row.id">
              <td>{{row.id}}</td>
              <td>{{row.value}}</td>
              <td>{{row.key}}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>

