
<div class="col-md-1"></div>

<div class="col-md-10" ng-init="mytable = {show:false}">

  <div class="panel shad">
    <div class="panel-heading orange">
      <h4>Ricerca l'archivio</h4>
    </div>

    <div class="panel-body">

<!-- FIX -->
     <div ng-show='datalength >= 0'>

      <!-- FORM -->
      <form role="form" ng-submit="search()">

        <!-- SEARCH BAR -->
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
              <i class="fa fa-plus-square-o fa-1x"></i>
            </button>
          </span>
        <!-- TYPEHEAD autocomplention -->
          <input type="text" focus-on="search"
            placeholder="Cerca" class="form-control"

            typeahead="element for element in typeahead.data | filter:$viewValue | limitTo:9"
            typeahead-wait-ms="0" typeahead-on-select="onTypeaheadSelect($item, $model, $label)"

            ng-focus="doFocus()"
            ng-value="{{selected}}" ng-model="selected" ng-change="search()">
<!-- TYPEHEAD autocomplention -->
          <span class="input-group-btn">
            <button type="button" class="btn btn-info" ng-click="search()">
              <i class="fa fa-search fa-1x"></i>
            </button>
          </span>
        </div>

        <!-- ADVANCED SEARCH -->
        <div collapse="isCollapsed">
          <div class="well well-lg">
            Advanced search options
            <h4> <i>work in progress...</i> </h4>
          </div>
        </div>

      </form>

    </div>

    <div ng-show='mytable.show'>

      <!-- data table -->
      <div ng-show='datalength > 0'>
        <table class="table table-striped">
          <thead>
            <tr>
              <th ng-repeat="head in headers">{{head}}</th>
            </tr>
          </thead>

          <tbody> <!-- use timestamp to order -->
            <tr ng-repeat="(record,row) in data | orderBy: row.name">
              <td> {{row.user}} </td>
              <td> {{row.name}} </td>
              <td> {{row.modified | date:'dd/MM/yy HH:mm'}} </td>

<!--               <td>
                {{row.user}}:<b>{{record | limitTo:8}}</b>
                <br> <small> <i> not published </i> </small>
              </td>
              <td>
                <span ng-repeat='(key, values) in row.steps track by $index'>
                    [
                    <i>Step <b>{{key}}</b> </i>:
                    <span ng-repeat='piece in values track by $index'
                        ng-if="piece != ''">
                        {{piece}}
                    </span>
                    ]
                    <br>
                </span>

              </td>
 -->
              <td>

              <!--buttons
               <a ui-sref='logged.view({myId:record})'>
                <button type="button" class="btn btn-xs btn-default"
                  tooltip-placement="left"
                  tooltip="Guarda il record {{record | limitTo:8}}">
                  <i class="fa fa-eye fa-2x"> </i>
-->
                </button>
               </a>
               <a ui-sref='logged.submission.step({myId:record, stepId:1})'>
                <button type="button" class="btn btn-xs btn-warning"
                  tooltip-placement="bottom"
                  tooltip="Modifica il record {{record | limitTo:8}}">
                  <i class="fa fa-edit fa-2x"></i>
                </button>
               </a>
<!--
               <a href ng-click="removeRecord(record)">
                <button type="button" class="btn btn-xs btn-danger"
                  tooltip-placement="right"
                  tooltip="Elimina il record {{record | limitTo:8}}">
                  <i class="fa fa-trash fa-2x"></i>
                </button>
               </a>
-->

              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <hr ng-show='datalength > 0'>
      <div>

          <!-- LOADING -->
          <div id='spinner' ng-hide='datalength >= 0'>
            Loading <i class="fa fa-refresh fa-spin"></i>
          </div>
          <div ng-if='datalength == 0'>
            <span  class="label label-info">
              Risultati: {{datalength}}
            </span>
          </div>

          <!-- DATA stats and paging -->
          <div ng-show='datalength > 0'>
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <span  class="label label-default"> Pagina corrente:</span> &nbsp;
               <input type="text" ng-value="{{perpage}}" size=3
                ng-model="currentpage" ng-change="reloadTable(perpage,currentpage)">
                <span  class="label label-default"> Elementi per pagina:</span> &nbsp;
               <input type="text" ng-value="{{currentpage}}" size=3
                ng-model="perpage" ng-change="reloadTable(perpage,currentpage)">
              </div>
              <div class="col-md-6 col-xs-6">
                <span  class="label label-primary">
                  Elementi da {{from}} a {{from + datalength - 1}}
                </span>
                &nbsp;
                <span  class="label label-info">
                  Totale: {{datalength}}
                </span>
              </div>
            </div>
          </div>
      </div>

    </div> <!--results hiding-->

   </div> <!--panel body-->
  </div> <!-- panel -->

<!-- NO DATA -->
<div id='nodata' ng-show='datalength == 0'>
    <alert type='warning'> Attenzione: nessun documento ancora pubblicato. </alert>
</div>


  <button type="button" class="btn btn-warning shad" ng-click="go('app/submission/new/step/1')">
    <table> <tr>
    <td> <i class="fa fa-plus-circle fa-2x fa-fw"></i> </td>
    <td> Nuovo record </td>
    </tr> </table>
  </button>

  <br></br>

  <div >
    <!-- ALERTS -->
    <alert ng-repeat="alert in alerts" type="{{alert.type}}"
        close="closeAlert($index)">
        {{alert.msg}}
    </alert>
  </div>

</div>

<div class="col-md-1"></div>
