<div class="container">

    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>

    <div class="row">
        <div class="col-md-3 col-xs-3"></div>
        <div class="col-md-6 col-xs-6">
            <div class='well shad centering'>
                <H3>SpectacleBaroque</H3>
                La collezione di estratti sulle Feste Barocche.
                <br> <br>

                <a ui-sref="logged.main">
                    <button type="button" class="btn btn-danger"> Login </button>
                </a>

            </div>
        </div>
        <div class="col-md-3 col-xs-3"></div>
    </div>

</div>