
<div class="jumbotron">
    <!-- Example of using my directive as a tag for editing data -->
  <editable-content data='elements' pos='0' flag='edit'></editable-content>
</div>

<hr>

<div class="container">

    <!-- debugging notification -->
    <div class="well" ng-init="btnValue=0; btnTwo=0">
        btnValue1 = {{btnValue}} <br>
        <div class="btn-group" role="group" aria-label="label-default">
          <button ng-repeat="num in [0,1,2,3,4]"
            ng-click='setNotification(num, "test"); $parent.btnValue=num;'
            type="button" class="btn btn-default">
              {{num}}
          </button>
        </div>
        <notify item='{status: btnValue}' ng-show='btnValue > 0'></notify>
        <hr>
        btnValue2 = {{btnTwo}} <br>
        <div class="btn-group" role="group" aria-label="label-default">
          <button ng-repeat="num in [0,1,2,3,4]"
            ng-click='setNotification(num, "SECOND"); $parent.btnTwo=num;'
            type="button" class="btn btn-default">
              {{num}}
          </button>
        </div>
        <notify item='{status: btnTwo}' ng-show='btnTwo > 0'></notify>
    </div>

    <div class="row marketing">
      <!-- An easy block of editable content :) via ng-repeat -->
      <editable-content ng-repeat='x in range' pos='x' data='elements' flag='edit'></editable-content>
    </div>
</div>