
<!-- Example of using my directive as a tag for editing data -->

<div class="jumbotron">
  <editable-content data='elements' pos='0' flag='edit' action='update'></editable-content>
</div>

<div class="row marketing">

  <!-- Should this be a ng-repeat ?-->
  <editable-content data='elements' pos='1' flag='edit' action='update'></editable-content>
  <editable-content data='elements' pos='2' flag='edit' action='update'></editable-content>
  <editable-content data='elements' pos='3' flag='edit' action='update'></editable-content>
  <editable-content data='elements' pos='4' flag='edit' action='update'></editable-content>
  <editable-content data='elements' pos='5' flag='edit' action='update'></editable-content>
  <editable-content data='elements' pos='6' flag='edit' action='update'></editable-content>
  <!-- Should this be a ng-repeat ?-->

</div>
