
<div class="container" ng-if='!searching'>
    <div class="panel panel-default shad">
        <div class="panel-body">
         <editable-content data='elements' pos='1' flag='edit'></editable-content>
         <hr>

         <div class='row'>
          <div class='col-md-7 col-xs-7'>
            <!-- An easy block of editable content :) via ng-repeat -->
            <editable-content ng-repeat='x in [2,3,4,5]' pos='x'
                data='elements' flag='edit'></editable-content>
            <!-- Example of using my directive as a tag for editing data -->
          </div>
          <div class='col-md-5 col-xs-5'>
            <div ng-if='analytics'>
              <img src="images/bar.jpg" width="260px" class="shad">
            </div>
<!-- 
            <div class='well'> <b>Currently <u>offline</u></b> </div>
 -->            
          </div>
         </div>
        </div>
    </div>
</div>

<div class='row'><p></p></div>