<div class="container-fluid">
 <div class="row">

  <!-- this is used to get the CSS3 blur -->
  <div class="ib-container" id="ib-container">

    <!-- STEP LIST -->
    <div class="col-md-3 col-xs-3">

      <div class="list-group">
        <a class="list-group-item list-group-item-info">
          <h4> <i class="fa fa-database fa-1x"></i> Inserimento </h4>
        </a>
        <a href="" class="list-group-item"
          ng-repeat='step in steps' ng-click="setStep(step.step)"
          ng-class="{'active': step.step == current}">
              <span class="badge">{{step.step}}</span>
              {{step.name | ucFirst}}
        </a>
        <!-- UPLOADER -->
        <a href="" class="list-group-item"
          ng-click="setStep(steps.length +1)" ng-class="{'active': steps.length+1 == current}">
              <span class="badge">{{steps.length+1}}</span> Upload
        </a>
      </div>

    <div class="alert alert-warning" role="alert">
      <i>Bozza in corso</i>
    </div>

    </div>

    <!-- MAIN BODY of SUBMISSION -->
    <div class="col-md-9 col-xs-9">
        <!-- Step before if exists -->
        <submission-step current='current' step='current-1' max='bootData.length'
            template='formTemplate' data='bootData[current-2]'></submission-step>

        <!-- CURRENT step -->
        <submission-step current='current' step='current' max='bootData.length'
            template='formTemplate' data='bootData[current-1]'></submission-step>

        <!-- Step after, if exists -->
        <submission-step current='current' step='current+1' max='bootData.length'
            template='formTemplate' data='bootData[current]'></submission-step>

        <!-- Upload - This will be last step, so take double the necessary space-->
        <div class="col-md-8" ng-show="current == steps.length +1">
          <div class="well table-responsive">
            <file-uploader></file-uploader>
          </div>
        </div>
    </div>

  <!-- BLUR div -->
  </div>
 </div> <!-- row -->
</div>