
<div class="container">

    <p><br></p>
    <p><br></p>

    <div class='centering'>
        <H3 class='titleWritings'><a href='#'> #SpectacleBaroque~ </a></H3>
    </div>

    <p><br></p>
    <p><br></p>
    <p><br></p>

    <div class="row">
        <div class="col-md-3 col-xs-3"></div>
        <div class="col-md-6 col-xs-6">
            <div class='well shad centering'>
                La collezione di estratti sulle Feste Barocche.
                <br> <br>
                <a href="#"><button type="button" class="btn btn-primary">
                    Richiedi la notifica
                </button></a>
                <br> <br>
                Ti avviseremo al momento del rilascio<br> della nuova piattaforma.
            </div>
        </div>
        <div class="col-md-3 col-xs-3"></div>
    </div>

    <div class='bd'>
        <a ui-sref="dologin"><span  class="label label-default"> Login </span></a>
    </div>

</div>